<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periodic Table</title>
    <link type="text/css" rel="stylesheet" href="../static/styles/index.css" />
</head>
<body>
    <header>
        <div class="div">
            <div class = 'half-circle'><h1>FUN LEARN</h1></div>

        </div>
        <ul class="menu">
                <li><a href = "#">HOME</a></li>
                <li><a href = "/login">LOGIN</a></li>
                <li><a href = "/elements">ELEMENTS</a></li>
                <li><a href = "/quiz">QUIZ</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>