{% extends "base.html" %}


{% block content %}
    <main class = "home-main">
        <div class= 'home-left'>
            <img src =" ../static/images/pimages 1.png">
        </div>
        <div class="home-right">
            <img src = "../static/images/mendeleev.jpg" />
            <div class="home-right-text">
                <h3>Dmitri Mendeleev</h3>
                <p>Dmitri Mendeleev was a Russian chemist and inventor who formulated the Periodic Law and the periodic table of elements. </p>
            </div>
        </div>
    </main>

{% endblock %}