@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #e7f3df;
}

header{
    background: #ffacac;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.div{
    text-align: center;

}

.half-circle{
    background: #5289F3;
    margin: auto;
    margin-top: -25px;
    width: 400px;
    height: 200px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
}

.half-circle h1{
    padding-top: 100px;
    color: #e2dfdf;
    font-family: 'Ravi Prakash', cursive;
    font-size: 45px;
}

.menu{
    padding-top: 15vh;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    font-size: 22px;
    font-weight: bolder;
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: black
}
.menu a:hover{
    text-decoration: underline;
}