*{
    margin: 0;
    padding: 0;
}

body{
    background: #e7f3df;
}

header{
    background: #ffacac;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.menu{
    padding-top: 10vh;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    font-size: larger;
    font-weight: bolder;
    list-style-type: none;
}